@import '~styles/mixins';
@import '~styles/media-queries';

.header {
  height: rem(100px);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mq($until: small-tablet) {
    flex-direction: column;
    margin-top: rem(20px);
  }

  &__logo-container {
    display: flex;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  .zh-icon-pizza-logo {
    font-size: rem(40px);
  }

  &__logo-info {
    display: flex;
    flex-direction: column;
    margin-left: rem(20px);

    > span {
      font-family: Proxima Nova;
      font-style: normal;
    }

    span:nth-child(1) {
      font-size: rem(24px);
      font-weight: 800;
      line-height: rem(29px);
      letter-spacing: 0.01em;
      text-transform: uppercase;
    }

    span:nth-child(2) {
      font-weight: normal;
      font-size: rem(16px);
      line-height: rem(19px);
      color: #7b7b7b;
    }
  }

  &__cart {
    @include mq($until: small-tablet) {
      margin-top: rem(20px);
    }

    a {
      width: rem(150px);
      height: rem(50px);
      background: #fe5f1e;
      border-radius: rem(30px);
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      transition: 0.3s all;

      &:hover {
        background: darken(#fe5f1e, 10%);
        color: #ffffff;
      }
    }

    span {
      margin: rem(10px);
    }

    span:nth-child(1) {
      border-right: rem(1px) solid #fff;
      padding-right: rem(20px);
    }

    svg {
      margin-right: rem(5px);
      font-size: rem(18px);
      fill: #fff;
    }
  }
}
