@import '~styles/mixins';
@import '~styles/media-queries';

@import url(//db.onlinewebfonts.com/c/478e653b5b1afb91b0d06091ed542563?family=Futura+New+Book);

.cart-container {
  &__logo {
    height: rem(100px);
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      font-size: rem(40px);
    }
  }
}

.cart-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: rem(30px);
  border: rem(2px) solid #e7e7e7;
  border-radius: rem(12px);

  @include mq($until: small-desktop) {
    width: calc(100% - 30px);
  }

  @include mq($until: small-tablet) {
    padding: rem(10px);
  }

  &__number {
    h3 {
      @include mq($until: desktop) {
        font-size: rem(30px);
      }

      @include mq($until: small-tablet) {
        font-size: rem(25px);
      }
    }
  }
  
  &__header {
    display: flex;
    justify-content: space-between;
    border-bottom: rem(1px) solid #d8d8d8;
    padding: rem(20px);

    @include mq($until: small-tablet) {
      padding: rem(20px 0);
    }
  }

  &__header-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    justify-items: center;

    @include mq($until: wide) {
      grid-template-columns: repeat(3, minmax(100px, 1fr));
    }

    @include mq($until: small-tablet) {
      grid-template-columns: repeat(3, minmax(70px, 1fr));
      font-size: rem(14px);
      justify-items: center;
    }
  }

  &__header-info {
    @include mq($until: small-tablet) {
      margin-right: 10px;
    }
  }

  &__header-wrapper, &__header-info {
    > div {
      font-size: rem(26px);
      margin-left: rem(25px);

      @include mq($until: desktop) {
        font-size: rem(20px);
      }

      @include mq($until: tablet) {
        font-size: rem(18px);
      }

      @include mq($until: small-tablet) {
        font-size: rem(14px);
        margin-left: 0;
      }
    }
  }

  &__pizza {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    justify-items: center;

    @include mq($until: wide) {
      grid-template-columns: repeat(2, minmax(100px, 1fr));
    }

    @include mq($until: tablet) {
      grid-template-columns: repeat(1, minmax(110px, 1fr));
    }

    @include mq($until: small-tablet) {
      grid-template-columns: repeat(1, minmax(70px, 1fr));
    }
  }

  &__pizza-info {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-size: rem(14px);
    font-family: "Futura New Book", sans-serif;

    @include mq($until: desktop) {
      font-size: rem(12px);
    }

    > div:first-child {
      font-size: rem(20px);

      @include mq($until: desktop) {
        font-size: rem(16px);
      }

      @include mq($until: small-tablet) {
        font-size: rem(14px);
      }
    }

    > div {
      margin: rem(5px 0);
    }
  }

  &__delete {
    font-size: rem(18px);
    font-weight: 800;
    color: #142cd9;
    transition: 0.3s all;
    cursor: pointer;

    &:hover {
      color: lighten(#142cd9, 30%);
    }

    @include mq($until: desktop) {
      font-size: rem(14px);
    }

    @include mq($until: small-tablet) {
      font-size: rem(12px);
    }
  }

  &__title {
    max-width: rem(150px);
    text-align: center;
    color: #0d9948;
    text-decoration: underline;
  }

  &__img {
    max-width: rem(165px);
    height: auto;
    margin-top: rem(15px);

    @include mq($until: small-tablet) {
      max-width: rem(80px);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    justify-items: center;
    font-family: "Futura New Book", sans-serif;

    > div {
      font-size: rem(26px);
      display: flex;

      @include mq($until: desktop) {
        font-size: rem(20px);
      }

      @include mq($until: small-tablet) {
        font-size: rem(14px);
      }
    }

    @include mq($until: wide) {
      grid-template-columns: repeat(3, minmax(100px, 1fr));
    }

    @include mq($until: small-tablet) {
      grid-template-columns: repeat(3, minmax(50px, 1fr));
    }
  }

  .counter {
    width: rem(30px);
    height: rem(30px);
    margin: rem(0 10px);
    align-self: center;
    color:#0d9948;
    background-color: lighten(#ff851b, 15%);
    font-size: rem(25px);
    transition: 0.3s all;

    &:hover {
      color: lighten(#0d9948, 15%);
      background-color:#ff851b;
    }

    @include mq($until: desktop) {
      font-size: rem(20px);
      width: rem(25px);
      height: rem(25px);
    }

    @include mq($until: small-tablet) {
      font-size: rem(10px);
      width: rem(20px);
      height: rem(20px);
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__total {
    align-self: flex-end;
    margin-top: rem(20px);
    margin-right: rem(40px);
    font-size: rem(30px);
    font-family: "Futura New Book", sans-serif;
    text-decoration: underline;

    @include mq($until: desktop) {
      font-size: rem(24px);
    }

    @include mq($until: tablet) {
      margin-right: 0;
      align-self: center;
    }

    @include mq($until: small-tablet) {
      font-size: rem(20px);
    }
  }

  &__buttons {
    max-width: 80%;
    margin: rem(30px) auto;
    display: flex;
    justify-content: space-between;

    @include mq($until: desktop) {
      margin: rem(15px) auto;
    }
  }
}

.cart-button {
  max-width: rem(240px);
  width: 100%;
  transition: 0.3s all;
  font-family: "Futura New Book", sans-serif;
  font-size: rem(18px);
  font-weight: 800;
  color: #fff;

  svg {
    margin-right: rem(5px);
    fill: #fff;
    font-size: rem(18px);

    @include mq($until: desktop) {
      font-size: rem(14px);
    }
  }

  @include mq($until: desktop) {
    font-size: rem(14px);
    max-width: rem(180px);
    height: rem(40px);
  }

  @include mq($until: small-tablet) {
    font-size: rem(12px);
    max-width: rem(150px);
    height: rem(30px);
  }
}

.cart-button-clear {
  background-color: #ff851b;

  &:hover {
    background-color: lighten(#ff851b, 15%);
  }
}

.cart-button-order {
  background-color: #0d9948;

  &:hover {
    background-color: lighten(#0d9948, 15%);
  }
}