@import '~styles/mixins';
@import '~styles/media-queries';

.products-container {
  margin: rem(50px);

  &__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: rem(30px);
    
    &__img {
      cursor: pointer;
      transition: 0.3s all;
      
      &:hover img {
        transform: translate(0, 10px);
      }
    }
  }
}
