@import '~styles/mixins';
@import '~styles/media-queries';

.products-container {
  margin: rem(50px 0);

  &__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: rem(30px);

    @include mq($until: wide) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mq($until: small-desktop) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq($until: small-tablet) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  h2 {
    @include mq($until: desktop) {
      font-size: rem(40px);
    }

    @include mq($until: small-tablet) {
      font-size: rem(30px);
      text-align: center;
    }
  }

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
  
    img {
      height: rem(200px);
    }
  }
}
