@import '~styles/mixins';
@import '~styles/media-queries';

.products-container {
  &__pizza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > div {
      margin-top: rem(10px);
    }

    &__img {
      display: flex;
      justify-content: center;
    }
  }

  img {
    max-height: rem(280px);
    height: auto;
    transition: all 150ms ease-out 0s ;
    position: relative;
    top: 0;
    width: auto;

    &:hover {
      top: rem(3px);
      // transform: translate(0, 3px);
    }

    @include mq($until: desktop) {
      max-height: rem(260px);
    }

    @include mq($until: small-desktop) {
      max-height: rem(300px);
    }

    @include mq($until: tablet) {
      max-height: rem(260px);
    }

    @include mq($until: small-tablet) {
      max-height: rem(350px);
    }
  }

  &__title {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 800;
    font-size: rem(20px);
    line-height: rem(24px);
    text-align: center;
    letter-spacing: 0.01em;
  }

  &__select {
    width: 100%;
    background: #f3f3f3;
    border-radius: rem(10px);
  }

  &__types,
  &__sizes,
  &__price {
    display: flex;
    width: 100%;
    padding: 10px;
  }

  &__sizes, &__types {
    .active {
      background: orange;
      box-shadow: rem(0px 2px 4px) rgba(0, 0, 0, 0.04);
    }
  }

  button {
    width: 100%;
    height: rem(32px);
    cursor: pointer;
    border: none;
    outline: none;
    margin: rem(0 5px);
    background: #f3f3f3;
    border-radius: rem(5px);
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: rem(14px);
    line-height: rem(17px);
    text-align: center;
    letter-spacing: 0.015em;
    transition: 0.3s all;

    &:hover {
      background: #ffffff;
      box-shadow: rem(0px 2px 4px) rgba(0, 0, 0, 0.04);
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    button {
      width: 50%;
      height: rem(40px);
      background: #ffffff;
      color: #eb5a1e;
      border: 1px solid #eb5a1e;
      box-sizing: border-box;
      border-radius: rem(30px);
      transition: 0.3s all;

      &:hover {
        color: #fff;
        background: #eb5a1e;

        svg {
          fill: #fff;
        }
      }
    }

    svg {
      margin-right: rem(10px);
      fill: #eb5a1e;
    }
    
    span {
      font-weight: 900;
      font-size: rem(22px);
      line-height: rem(27px);
      letter-spacing: 0.015em;
    }
  }
}