@import '~styles/mixins';
@import '~styles/media-queries';

.categories-container {
  margin-top: rem(50px);
  display: flex;
  justify-content: space-between;

  &__select {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(14px);

    i,
    span {
      margin-right: rem(5px);
    }
    
    select {
      color: #fe5f1e;
      outline: none;
      border: none;
      cursor: pointer;
      border-bottom: rem(1px) dotted #fe5f1e;
    }
  }
  .active-filter {
    background-color: lighten(#ff851b, 15%);
  }
}
