@import '~styles/mixins';
@import '~styles/media-queries';

.categories-container {
  margin-top: rem(50px);
  display: flex;
  justify-content: space-between;

  @include mq($until: wide) {
    flex-direction: column;
    align-items: center;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

    button {
      color: #eb5a1e;
      font-weight: 900;
      margin: rem(0 5px);
      transition: 0.3s all;

      &:hover {
      color: #fff;
      background-color: #008ffb;
      }

      @include mq($until: wide) {
        font-size: rem(12px);
      }

      @include mq($until: desktop) {
        margin-top: rem(10px);
      }
    }

    @include mq($until: wide) {
      margin-bottom: rem(20px);
    }
  }

  &__select {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(14px);

    i,
    span, svg {
      margin-right: rem(5px);
      font-weight: 700;
    }
    
    select {
      color: #fe5f1e;
      outline: none;
      border: none;
      cursor: pointer;
      border-bottom: rem(1px) dotted #fe5f1e;
      font-weight: 700;
    }
  }
  .active-filter {
    color: #fff;
    background-color: lighten(#ff851b, 15%);
  }
}
