@import '~styles/mixins';
@import '~styles/media-queries';

.payment-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    width: 70%;
    padding: rem(20px);
    border: none;
    border-radius: rem(10px);
    color: #65f27d;
    position: relative;
    background-color: #1c4b57;
  }

  &__cards-holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(300px, 1fr);
    justify-items: center;
    align-items: center;
  }

  &__cards {
    border: rem(2px) solid #fff;
    background-color: #fff;
    border-radius: rem(10px);
    padding: rem(10px);cursor: pointer;

    svg {
      font-size: 150px;
      fill: #67aefc;
    }
  }

  .card-is-active {
    border-color:#f2ca1f;
    background-color: #f2ca1f;
  }

  &__buttons {
    display: flex;
    justify-content: center;

    button {
      margin: rem(0 20px);
      max-width: rem(240px);
      width: 100%;
      color: #fff;
      font-size: rem(20px);
    }
  }

  .close {
    background-color: #ff851b;

    &:hover {
      background-color: lighten(#ff851b, 15%);
    }
  }

  .prev {
    background-color: #43a0f9;

    &:hover {
      background-color: lighten(#43a0f9, 15%);
    }
  }

  .next {
    background-color: #0d9948;

    &:hover {
      background-color: lighten(#0d9948, 15%);
    }
  }
}