@import '~styles/mixins';
@import '~styles/media-queries';

.card-type-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    width: 70%;
    padding: rem(20px);
    border: none;
    border-radius: rem(10px);
    color: #65f27d;
    position: relative;
    background-color: #1c4b57;

    @include mq($until: small-desktop) {
      width: 90%;
    }

    @include mq($until: tablet) {
      width: calc(100% - 30px);
    }

    @include mq($until: small-tablet) {
      width: calc(100% - 15px);
    }
  }

  &__cards-holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(250px, 1fr);
    justify-items: center;
    align-items: center;

    @include mq($until: tablet) {
      grid-template-rows: minmax(150px, 1fr);
    }

    @include mq($until: tablet) {
      grid-template-rows: minmax(100px, 1fr);
    }
  }

  &__cards {
    border: rem(2px) solid #fff;
    background-color: #fff;
    border-radius: rem(10px);
    padding: rem(10px);cursor: pointer;

    svg {
      font-size: rem(150px);
      fill: #67aefc;

      @include mq($until: tablet) {
        font-size: rem(100px);
      }

      @include mq($until: tablet) {
        font-size: rem(70px);
      }
    }
  }

  .card-is-active {
    border-color:#f2ca1f;
    background-color: #f2ca1f;
  }

  &__buttons {
    display: flex;
    justify-content: center;

    button {
      margin: rem(0 20px);
      max-width: rem(240px);
      width: 100%;
      color: #fff;
      font-size: rem(20px);

      @include mq($until: tablet) {
        height: rem(35px);
      }
    }
  }

  .close {
    background-color: #ff851b;

    &:hover {
      background-color: lighten(#ff851b, 15%);
    }
  }

  .prev {
    background-color: #43a0f9;

    &:hover {
      background-color: lighten(#43a0f9, 15%);
    }
  }

  .next {
    background-color: #0d9948;

    &:hover {
      background-color: lighten(#0d9948, 15%);
    }
  }

  &__card-pay {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: rem(30px);
  }

  &__total {
    margin-bottom: rem(20px);
    color: #fff;
    text-decoration: underline;

    @include mq($until: desktop) {
      h2{
        font-size: rem(40px);
      }
    }

    @include mq($until: tablet) {
      h2{
        font-size: rem(35px);
      }
    }

    @include mq($until: small-tablet) {
      h2{
        font-size: rem(30px);
      }
    }
  }

  &__card-info {
    width: 70%;
    border-radius: rem(10px);

    @include mq($until: desktop) {
      width: 90%;
    }

    @include mq($until: tablet) {
      width: 100%;
    }

    input {
      height: 50px;
      background-color: #242852;
      outline: none;
      border: none;
      color: #fff;
      font-size: rem(20px);
      padding-left: 30%;

      @include mq($until: wide) {
        padding-left: 35%;
      }
    }

    span {
      position: absolute;
      color: #7175a2;
      font-weight: 700;
      font-size: rem(20px);

      @include mq($until: tablet) {
        font-size: rem(12px);
      }

      @include mq($until: small-tablet) {
        position: absolute;
      }
    }
  }

  &__card-number {
    border-bottom: rem(3px) solid #2a2e57;
    position: relative;

    input {
      width: 100%;
    }

    span {
      top: 50%;
      left: rem(20px);
      transform: translate(0, -50%);
    }
  }

  &__card-holder {
    position: relative;
    border-bottom: rem(3px) solid #2a2e57;

    input {
      width: 100%;
      padding-left: calc(30% + 10px);
    }

    span {
      top: 50%;
      left: rem(20px);
      transform: translate(0, -50%);
    }
  }

  &__card-additionals {
    position: relative;

    @include mq($until: small-tablet) {
      display: flex;
      flex-direction: column;
    }

    input {
      width: 50%;

      @include mq($until: small-tablet) {
        width: 100%;
        padding-left: rem(10px);
      }
    }

    input:last-of-type {
      padding-left: 20%;

      @include mq($until: wide) {
        padding-left: 25%;
      }

      @include mq($until: tablet) {
        padding-left: 30%;
      }

      @include mq($until: tablet) {
        padding-left: rem(10px);
        border-top: rem(2px) solid #2a2e57;
      }
    }

    span {
      top: 50%;
      left: rem(20px);
      transform: translate(0, -50%);

      @include mq($until: small-tablet) {
        display: flex;
        top: 0;
        left: 0;
        margin-left: rem(10px);
        transform: none;
      }
    }

    span:last-of-type {
      left: calc(50% + 20px);

      @include mq($until: tablet) {
        left: 0;
        top: 52%;
      }
    }
  }
}